@use './scss/helper/placeholders' as *;
@use './scss/helper/variables';
@use './scss/helper/mixins';
@use './scss/helper/library';
@use './scss/helper/functions';

library.$color: green;

@import url(https://fonts.googleapis.com/css?family=Pacifico);

h1 {
	@extend %center;
	font-family: Roboto, sans-serif;
	color: library.$color;
}

.micro {
	width: functions.sum(variables.$widths...);
}

.absolute {
	position: absolute;
	height: functions.getDoubleRowHeight(20px);
}

.avt-user {
	@include mixins.avatar(50px, true);
}

.hover-class {
	color: white;

	@include mixins.hover {
		color: blue;

		span {
			outline: none;
		}
	}
}

.banner {
	font-family: 'Pacifico', cursive;
	height: 400px;
	background-image: url(variables.$lemonade-banner);
	border: {
		top: variables.$border;
		bottom: variables.$border;
	}

	.slogan {
		background-color: variables.$translucent-white;
		border: 4px solid black;
		top: 200px;
		left: 25%;
		line-height: 200px;
		@include mixins.dimensions(50%, 200px);
		@extend .absolute;

		span {
			@extend %center;
			@extend %relative;
			width: 40%;
			left: 30%;
		}
	}
}

.container {
	font-family: 'Pacifico', cursive;

	.icon {
		display: inline-block;
		margin: 2%;
		border: variables.$border;
		@include mixins.dimensions(300px, 300px);
	}
}
