@mixin center {
	text-align: center;
	vertical-align: center;
}

@mixin dimensions($width: 10px, $height: 10px) {
	width: $width;
	height: $height;
}

@mixin no-variable {
	font-size: 12px;
	color: #fff;
	opacity: 0.9;
}
